.launcher {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
}